* {
  background-color: #FFCA63;

}

#quo {
  background-color: white;
}

.containers {
  background-color: white;
  width: 30%;
}



li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

   
  
  